* {
  box-sizing: border-box;
}
/* Make the background close to the same gradient as the example */
body {
background: linear-gradient(90deg, rgba(255,236,9,1) 0%, rgba(255,107,0,1) 100%);
}

input {
flex: 1;
height: 50px;
background: rgba(255,255,255, 0.4);
border: none;
border-bottom: 2px solid red;
font-size: 40px;
}

.search-container {
  width: 600px;
  margin: 400px auto 0;

}
.search-container input,
.search-container .suggestions {
width: 600px;
}

.search-container .suggestions {
padding: 0;
margin: 0;
}

ul {
  border: none;
  padding: 0px;
  margin: 0px;
  
}
ul li {
list-style: none;
padding: 15px 10px;
cursor: pointer;
background: rgba(255,255,255, 0.4);
}
ul li:hover {
background: rgb(255, 60, 0);
}

/* I do not know what these were meant to be used for, It seems like I was able to recreate the app and the css without them
 input {
  
} 
ul.has-suggestions {

}
:focus {
 
}
.search-container input {

}
*/